* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 0px;
    border: 2px solid black;
  }

    .display {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: antiquewhite;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

      .number-show {
        background-color: brown;
        flex: 1;
        margin: 20px 35px;
        height: 90px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        border: 1px solid black;
        box-shadow: 4px 3px;
        overflow: hidden;
      }

        .text-show,
        .operators,
        .text-save {
          color: white;
          font-weight: bold;
          font-size: 3rem;
        }

        .text-bottom,
        .text-save {
          flex: 1;
          margin-right: 10px;
        }

        .text-save {
          align-self: flex-end;
          font-size: 2rem;
        }

        .text-bottom {
          display: flex;
          align-self: flex-end;
        }

    .buttons {
      flex: 5;
      display: flex;
      flex-direction: column;
      background-color: #2c2828;
      border-bottom-left-radius: 1px;
      border-bottom-right-radius: 1px;
      padding: 15px 0px;
    }

      .rows {
        flex: 1;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }

        input {
          width: 80px;
          height: 75px;
          font-size: 2rem;
          font-weight: bold;
          border-radius: 5px;
          box-shadow: 1px 1px;
          background-color: #efefef;
        }

        input:hover {
          background-color: #a19e9e;
        }